$title: 'Mrs Sheppards', cursive; //400
$contents: 'Cormorant', serif; //300~700 (normal, italic)

$gray: rgb(168, 160, 160);
$light-gray: rgb(182, 182, 182);
$black: #000;
$cement: rgb(77, 77, 77);
$white: #fff;