$title: 'Mrs Sheppards', cursive; //400
$contents: 'Cormorant', serif; //300~700 (normal, italic)

$gray: rgb(168, 160, 160);
$light-gray: rgb(182, 182, 182);
$black: #000;
$cement: rgb(77, 77, 77);
$white: #fff;

// admin login
$background: #16292F;
$login: #0E1C21;
$line: #085A6D;

// admin
$adminBackground: #353841;
$pointColor: #F4A702;
$adminSubBackground: #23262D;